<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @requisition.content %>
</p>

<p>
  <strong>Return:</strong>
  <%= @requisition.ordered %>
</p>

<%= link_to 'Edit', edit_requisition_path(@requisition) %> |
<%= link_to 'Back', requisitions_path %>
